@charset "UTF-8";
body {
    background-color: #000b37;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, 0.621);
}

article {
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, 0.736);
}

#menu ul {
    padding:0px;
    margin:0px;
    background-color: rgba(193, 0, 223, 0);
    list-style:none;
}
#menu ul li {
    display: inline;
}
#menu ul li a { 
    padding: 7px 10px; 
    display: inline-block; 
    background-color: rgba(0, 15, 223, 0.651);
    color: rgba(255, 255, 255, 0.841); 
    text-decoration: none; 
    border-bottom:5px solid rgba(255, 255, 255, 0.563); 
    width: 10%;
    height: 10%;
}
#menu ul li a:hover { 
    background-color:#ffffff;
    color: #6D6D6D;
    border-bottom:3px solid #000000;
}

aside {
    margin-top: -210px;
    margin-top: -250px;
    float: right;
    width: 42%;
}

#rodape ul {
    padding:0px;
    margin:0px;
    background-color: rgba(179, 223, 0, 0);
    list-style:none;
}

#rodape ul li a{
    padding: 7px 10px;
    display: inline-block;
    text-decoration: none;
}

#rodape ul li a:hover {
    background-color: rgba(182, 218, 0, 0.416);
    color: white;
    border-bottom: white;
}

header {
    background-color: #6d6d6d63;
    border-radius: 10px;
    padding: 20px;
    width: 500px;
}

.instagram__icon {
    margin-left: 60rem;
    margin-top: -50rem;
}

.email a{
    margin-right: 7rem;
}

.container__icons {
    width: 61.75rem;
    height: 9.75rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3.125rem;
    margin-bottom: 2.825rem;
    position: relative;
    margin-left: -58rem;
    margin-top: 3rem;
  }

.email__icon {
    margin-left: -3rem;
    margin-top: -6rem;
}