.carmelo{
  background-color: #CD853F;
}

.div__tenis{
  background-color: green;
  width: 700px;
  height: 200px;
  margin: 10px auto;
  padding: 25px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.foto__tenis{
  width: 155px;
  height: 138px;
}

.loja{
  display: flex;
  flex-direction: row;
  align-content: center;
  gap: 10px;
}

.preco{
  color: white;
}

.rodape{
  background-color: gray;
  padding: 69px;
  text-align: center;
  margin-top: 150px;
}

.name{
  color: white;
  text-align: center;
  margin-top: -1px;
  font-size: 27px;
}